html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  color: #000000;
  padding: 0px;
  margin: 0px;
  font-family: Helvetica;
}

#emailarrow{
  font-size: 6em;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}

#linksarrow{
  font-size: 6em;
  margin-left: 20%;
  margin-bottom: -5%;
  padding-top: 10px;
}

#socialnetworks{
  font-size: 1.5em;
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
  margin-bottom: -35px;
}

#sendemail{
  font-size: 1.5em;
  display: inline-block;
  vertical-align: top;
  padding-top: 50px;
  padding-left: 10px;
}

#selfThumbnail{
  width: 50%;
  float: left;
  border-radius: 10px;
}

hr{
  border: 0;
  height: 1;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0)); 
}

.navbutton{
  width: 10em;
  color: #475A24;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
}

.navbar{
  margin-top: 30px;
  float: right;
  margin-right: 30%;
}

.navbutton:hover{
  background-color: #C6FF8D;
  color: black;
}

.activebutton{
  background-color: #C6FF8D;
  color: black;
}

.column1{
  width: 20%;
}

.column2{
  width: 50%;
}

.column3{
  width: 30%;
}

.column{
  min-height: 20%;
  display: inline-block;
  vertical-align: text-top;
}

#title{
  font-family: helvetica;
  font-weight: normal;
  margin-left: 21%;
  padding-top: 0.9%;
  display: inline-block;
}

#linkedin{
  background: url(../img/linkedin.png) no-repeat 6px center;
  height: 71px;
  width: 68px;
  display: inline-block;
}

#github{
  background: url(../img/github.png) no-repeat 6px center;
  height: 71px;
  width: 70px;
  display: inline-block;
}

#emaillink{
  background: url(../img/emailicon.png) no-repeat 6px center;
  height: 128px;
  width: 128px;
  display: inline-block;
}

#maindescription{
  margin-top: 0px;
  padding: 15px;
  padding-top: 0px;
}

#links{
  padding-top: 2px;
  padding-left: 15px;
}

#header{
  width: 100%;
  margin-top: 3%;
}

#footer{
  width: 100%;
  color: #999999;
  font-size: 0.7em;
}

#footerright{
  float:right;
  padding-right:26%;
}

#footerleft{
  float:left;
  padding-left:21%;
}
