
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

/* General */

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #4f535f;
    background-color: #fff;
    position: relative;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 36px;
    text-align: left;
}

.fancyUnderline {
    margin-left: auto;
    margin-right:auto;
    margin-top: 15px;
    width: 50px;
    border-top: 2px solid #b3b3b1;
    padding-bottom: 40px;
}

.paddedContainer {
    padding: 7.5% 0%;
    min-height: 100%;
    width: 100%;
    text-align: center;
}

@media (max-width: 767px) {
    .paddedContainer {
        padding-top: 16% !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .paddedContainer {
        padding-top: 12% !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .paddedContainer {
        padding-top: 8% !important;
    }
}

@media (min-width: 1200px) and (max-width: 1999px) {
    .paddedContainer {
        padding-top: 7% !important;
    }
}

@media (min-width: 2000px) {
    .paddedContainer {
        padding-top: 6% !important;
    }
}

/* Navigation */

.navbar {
    background-color: rgba(255,255,255,0.9);
    padding: 0.6% 0%;
    letter-spacing: 2px;
}

.navbar-brand {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px; 
    color: #000 !important;
}

.navbar-brand:hover,
.navbar-brand:focus {
    outline: none;
    color: #4183C4 !important;
}

.navbar-nav a:focus,
.navbar-nav a:hover,
.navbar-nav .active,
.navbar-nav a {
    background-color: transparent !important;
    outline: none;
    color: #777 !important;
}

.navbar-nav a {
    color: rgba(0,0,0,0.7);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
}

.navbar-nav a:hover {
    border-bottom: 1px solid #4183C4;
    color: #4183C4 !important;
}

.navbar-nav .active {
    border-bottom: 1px solid #4183C4;
}

/* Introduction */

#intro {
    color: #fff;
    background: url("../img/introBackground.jpg") no-repeat scroll center;
    background-size: cover;
    height: 100%;
	display: flex;
	align-items: center;
    display: -webkit-flex; /* For Safari */
    -webkit-align-items: center;
}

#introHeading {
    width: 100%;
}

.brand-heading {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -3px;
    color: #fff;
}

#brandSubHeading {
    text-align: center;
}

.button {
    text-align: center;
    border-radius: 5px; 
    color: #ffffff;
    background: rgba(65, 131, 196, 0.6);
    border: 2px solid #4183C4;
    display: block;
    position: relative;
    margin: auto;
    width: 180px;
    height: 54px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 1px;
    outline: none;
    text-decoration: none;
}

.button:focus,
.button:hover {
    color: #ffffff !important;
    background: rgba(65, 220, 132, 0.6) !important;
    border: 2px solid rgba(65, 220, 132, 1);
    outline: none;
    text-decoration: none;
    background: #4183C4;
}

/* About Me */

#about {
    min-height: 90%;
    width: 100%;
}

#about h2 {
    color: #333332;
    font-size: 30px;
    font-weight: 400;
}

#self {
    border-radius: 50%;
    margin-bottom: 3%;
}

#about p {
    text-align: center;
    color: #666665;
}

@media (max-width: 767px) {
    #about p {
        padding: 0% 3.5% !important;
    }
    
    #self {
        height: 40% !important;
        width: 40% !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #about p {
        padding: 2% 10% !important;
    }

    #self {
        height: 30% !important;
        width: 30% !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #about p {
        padding: 4% 0% !important;
    }

    #self {
        height: 70% !important;
        width: 70% !important;
    }
}

@media (min-width: 1200px) and (max-width: 1999px) {
    #about p {
        padding: 4% 5% !important;
    }
    
    #self {
        height: 55% !important;
        width: 55% !important;
    }
}

@media (min-width: 2000px) {
    #about p {
        padding: 0% 17% !important;
    }

    #self {
        height: 40% !important;
        width: 40% !important;
    }
}

/* Contact */

#contact {
    min-height: 60%;
    width: 100%;
    background-color: #fff;
}

#contact h3 {
    text-align: left;
    color: #4183C4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    text-transform: none;
    letter-spacing: 0px;
    font-size: 30px;
    padding-bottom: 2%;
}

#contact p {
    color: #000;
    font-size: 18px;
    line-height: 27px;
    padding: 0% !important;
}

#contactLeftCol {
    border-right: 1px solid #000;
}

@media (max-width: 767px) {
    #contact .paddedContainer {
        padding-top: 15% !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }    
    #contactLeftCol {
        border-right: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #contact .paddedContainer {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    #contactLeftCol {
        border-right: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #contact .paddedContainer {
        padding-top: 2% !important;
    }
}

@media (min-width: 1200px) and (max-width: 1999px) {
    #contact .paddedContainer {
        padding-top: 2% !important;
    }
}

@media (min-width: 2000px) {
    #contact .paddedContainer {
        padding-top: 1% !important;
    }
}

#linkedIn {
    height: 60px;
    width: 60px;
}

#gitHub {
    height: 64px;
    width: 64px;
    margin-left: 10px;
}

/* Footer */

#footer {
    border-top: 1px solid rgba(0,0,0,0.1) !important;
}

#footer p {
    margin-top: 20px;
    text-align: center;
    font-size: 11px;
    color: #b3b3b3;
}
