html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  color: #000000;
  padding: 0px;
  margin: 0px;
  font-family: Helvetica;
}

#socialnetworks{
  font-size: 1.5em;
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
  margin-bottom: -35px;
}

#selfThumbnail{
  width: 50%;
  float: left;
  border-radius: 10px;
  margin-left: 15px;
}

#briefSummary {
  font-family: Helvetica Neue;
  font-size: 18px;
  line-height: 20px;
  font-weight: 200;
  color: rgb(153, 153, 153);
}

hr{
  border: 0;
  height: 1;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0)); 
}

.navbutton{
  width: 25%;
  color: black;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
}

.navbar{
  width: 60%;
  display: inline-block;
}

.navbutton:hover{
  background-color: #4183C4;
  color: white;
}

.activebutton{
  background-color: #4183C4;
  color: white;
}

.column1{
  width: 20%;
}

.column2{
  width: 50%;
}

.column3{
  width: 30%;
}

.column{
  min-height: 20%;
  display: inline-block;
  vertical-align: text-top;
}

#title{
  font-family: helvetica;
  font-weight: normal;
  display: inline-block;
  width: 40%;
}

#linkedin{
  background: url(../img/linkedin.png) no-repeat 6px center;
  height: 71px;
  width: 68px;
  display: inline-block;
}

#github{
  background: url(../img/github.png) no-repeat 6px center;
  height: 71px;
  width: 70px;
  display: inline-block;
}

#emaillink{
  background: url(../img/emailicon.png) no-repeat 6px center;
  height: 128px;
  width: 128px;
  display: inline-block;
}

#header{
  width: 100%;
  margin-top: 3%;
}

#footer{
  width: 100%;
  color: #999999;
  font-size: 0.7em;
}

#footerright{
  float:right;
}

#footerleft{
  float:left;
}
