#selfie{
  border-radius: 15px;
  width: 90%;
}

.centerContent{
  text-align: center;
}

.whiteText{
  color: white;
}

#aboutme{
  padding-left: 5%;
  padding-right: 5%;
}

#briefSummary {
  font-family: Helvetica Neue;
  font-size: 18px;
  line-height: 20px;
  font-weight: 200;
  color: #82818c;
}

#emaillink{
  background: url(../img/emailicon.png) no-repeat 0px center;
  background-size: 100% 100%;
  height: 128px;
  width: 128px;
  display: block;
}

#linkedin{
  background: url(../img/linkedin2.png) no-repeat 6px center;
  background-size: 100% 100%;
  width: 130px;
  height: 115px;
  display: block;
}

#github{
  background: url(../img/github2.png) no-repeat 0px center;
  background-size: 100% 100%;
  height: 128px;
  width: 128px;
  display:  block;
  margin-top: 15px;
}
