@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

html {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #333332;
  font-size: large;
  margin: 0;
  position: relative;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}