body{
  background-image: url(../img/dark_wood.png); /* credit: subtlepatterns.com */
  background-color: black;
  color: #FFFFFF;
  padding: 0px;
  padding-top:20px;
  padding-bottom: 20px;
  margin: 0px;
}

#selfThumbnail{
  width: 25%;
  float: left;
  margin: 15px;
}

.column1{
  width: 17%;
  text-align: center;
}

.column2{
  width: 63%;
  background-color: #2E2E2E;
  color: #FFFFFF;
  border-radius: 20px;
}

.column{
  display: inline-block;
  vertical-align: text-top;
  height: 100%;
}

#title{
  font-family: helvetica;
  font-weight: normal;
  color: #FFFFFF;
  margin: 0px;
  padding: 15px;
}

#linkedin{
  background: url(../img/linkedin.png) no-repeat 6px center;
  height: 71px;
  width: 68px;
  display: inline-block;
}

#github{
  background: url(../img/github.png) no-repeat 6px center;
  height: 71px;
  width: 70px;
  display: inline-block;
}

#aboutme{
    padding-top: 30%;
}

#aboutmedescription{
    padding-left: 15px;
    padding-right: 15px;
}

#findme{
    padding-top: 85%;
}

#work{
    padding-top: 30%;
}

#workdescription{
    padding: 15px;
    padding-bottom: 50px;
}

#links{
    padding-top: 2px;
    padding-left: 15px;
}