doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='description' content='Chris Ross - Software Developer')
    meta(name='keywords' content='Chris,Ross,chrislross,software')
    meta(name='author' content='Chris Ross')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='styles/main.css')
    link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
    title Chris Ross
  body
    block content
